/*  RESETANDO ALGUMAS CONFIGURAÇÕES PADRÕES DO HTML  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Questrial';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    position: relative;

    padding-bottom: 10vh;

    animation: aparecer .3s ease forwards;
    opacity: 0;
    background-color: rgb(242, 242, 242);
}
li,a{
    list-style: none;
    text-decoration: none;
}


/*  HEADER DA PÁGINA ONDE FICA A NAVBAR  */
#header_principal{
    width: 100%;
    height: 18vh;
    
    background-color: #c7402b;
}

/*  ESSA SECTION IRÁ DESAPARECER QUANDO A RESOLUÇÃO DA TELA DIMINUIR  */
#section_para_pc{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}





/*  ESTILIZANDO ONDE FICA A FOTO E O NOME DO CLIENTE  */
.primario{
    width: 100%;
    height: 8vh;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 0 0 10px;

    border-bottom: 2px solid #d44833;
    background-color: #c7402b;
}

#informacao_cliente{
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    color:rgb(255, 255, 255);
    font-weight: 900;
    font-size: 18px;
    text-align: center;

    /* background-color: red; */
}
#informacao_cliente a{
    color: white;
}

/*  AJUSTANDO A FOTO DO CLIENTE  */
.foto_usuario{
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
}
.foto_usuario img{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    
    border-radius: 50%;
    object-fit: cover;
}
#cliente_sair a{
    height: 8vh;
    padding: 0 20px;

    color: white;
    font-size: 18px;
    font-weight: 900;

    display: flex;
    align-items: center;

    background-color: #bf3c28;
    border-left: 1px solid #d44833;
    transition: all .3s;
}
#cliente_sair a:hover{
    background-color: rgb(242, 242, 242);
    color: #c7402b;
}





/*  AJUSTANDO A NAVEGAÇÃO  */
.secundario{
    height: 10vh;
    width: 100%;
}
#nav_bar_cliente{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_bar_cliente ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;

    border-left: 1px solid #d44833;
}

#nav_bar_cliente ul li{
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #d44833;
}


#nav_bar_cliente ul li a{
    color: white;
    font-size: 20px;
    font-weight: 900;

    padding: 21px 15px;

    border: 1px solid transparent;
    transition: all .3s;
    text-align: center;
}

#nav_bar_cliente ul li a:hover{
    background-color: rgb(242, 242, 242);
    color: #c7402b;
}

#nav_bar_cliente ul li .focar_link{
    position: relative;
    z-index: 1;
}
#nav_bar_cliente ul li .focar_link::before{
    transition: all .3s;
    content: '';

    position: absolute;
    top: -20px;
    left: 50%;
    transform: translatex(-50%) rotate(45deg);

    width: 30px;
    height: 30px;
    border-radius: 20px;

    background-color: rgb(241, 241, 241);
}
#nav_bar_cliente ul li a:hover::before{
    background-color: #c7402b;
}









/*  PARA CELULAR  */
#section_para_celular{
    width: 100%;
    height: 10vh;

    position: fixed;
    bottom: 0;

    display: none;

    background-color:#c7402b;
    z-index: 1;
}

#nav_bar_celular{
    width: 100%;
    height: 100%;
}
#nav_bar_celular ul{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_bar_celular ul li{
    width: 20vw;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_bar_celular ul li a{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    font-size: 16px;
    color: white;
    transition: all .3s;
}
#nav_bar_celular ul li a:hover{
    background-color: rgb(242, 242, 242);
    color: #c7402b;
}













/*  MAIN PRINCIPAL  */
#main_principal{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}
.container90_main_avaliacoes{
    width: 90%;
    height: 100vh;
    margin: auto;

    /* background-color: blue; */
}
#container_principal_cliente{
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}










/*  ESTILIZANDO O CONTAINER QUE FICA OS MOVEIS  */
#container_mostrar_moveis{
    width: 100%;
    height: 100%;
}

.header_titulo_movel, .footer_mostrar_movel{
    width: 100%;
    height: 7vh;

    font-size: 20px;

    display: flex;
    align-items: center;
    padding-left: 10px;

    color: white;
    background-color: #bf3c28;
}
.main_mostrar_movel{
    width: 100%;
    height: 86vh;

    display: flex;
    flex-direction: column;

    border-left: 1px solid rgb(212, 212, 212);
    border-right: 1px solid rgb(212, 212, 212);
    background-color: white;
}









/*  ESTILIZANDO O FORMULARIO QUE SERVE PARA BUSCAR  */
.ficar_formulario{
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
    border-bottom: 1px solid rgb(212, 212, 212);
}



/*  ESTILIZANDO O FORMULARIO QUE SERVE PARA BUSCAR  */
#pesquisa_moveis{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/*  INPUT PARA BUSCAR  */
#pesquisa_buscar{
    width: 220px;
    height: 40px;

    border-radius: 3px;
    border: 1px solid #d1442e;
    padding: 5px;
    color: #a22809;

    font-weight: 900;
    font-size: 0.9rem;
}
#pesquisa_buscar:focus{
    outline: none;
}
#pesquisa_buscar::placeholder{
    color: #de4c36;
    font-weight: 500;
}

/*  BOTÃO DE BUSCA  */
#pesquisa_bnt{
    width: 150px;
    height: 40px;

    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;

    background-color: #bf3c28;
    color: white;
    transition: all .3s;
}
#pesquisa_bnt:hover{
    background-color: #b02814;
}












/*  CONTAINER ONDE FICA OS MOVEIS  */
.ficar_moveis{
    /* height: 76vh; */
    overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    padding: 10px 30px;
}



/*  ESTILIANDO OS MOVEIS  */

#section_listar_moveis{
    width: 250px;

    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px rgb(201, 201, 201);

    color: rgb(102, 102, 102);

    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

#container_conteudo{
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

#container_imagem{
    width: 100%;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: red; */
}
#container_imagem img{
    border-radius: 6px;
    height: 140px;
}

.conteudo_primario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 3px;

    width: 97%;
    margin: 0 auto;
    padding: 5px;

}
.conteudo_primario h2,#section_listar_moveis p{
    text-transform: capitalize;
}
.conteudo_primario p{
    font-size: 12px;
}

.movel_nome{
    color: #c7402b;
}

#conteudo_secundario{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px 5px 10px;
    text-align: center;
}

#conteudo_secundario div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#conteudo_secundario div p{
    font-size: 12px;
}
#conteudo_secundario div h3{
    font-size: 22px;
}

#conteudo_secundario .movel_valor p{
    color: #c7402b;
    font-weight: 900;
    font-size: 20px;
}




#bnt_comprar_movel{
    height: 30px;
    width: 50%;

    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translatex(-50%);

    border: none;

    background-color: #bf3c28;
    color: rgb(244, 244, 244);

    cursor: pointer;

    border-radius: 3px;
    transition: all .3s;
}
#bnt_comprar_movel:hover{
    background-color: #b02814;
    color: white;
}























*::-webkit-scrollbar {
    width: .8rem;
}
*::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
    background-color: #c7402b;
    border-radius: 20px;
    border: 0.2rem solid #ffffff;
    cursor: pointer !important;
}

@keyframes aparecer {
    100%{
        opacity: 1;
    }
}